# Binary folder and file C, C++ and C# code
bin/
*.exe

# C# Debug folder
Debug/

# Java class bytecode file
*.class

# Text file
*.txt

# Cache file
*.cache

# .vscode folder
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/